@model _24DH112135_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/Css/CustomerHome.css" />
}
@*Phần Banner*@
<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Mua sắm trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@*Phần tìm kiếm sản phẩm*@
<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index","Home",FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new {
                @class = "search-input",
                placeholder="Nhập tên,mô tả,chủng loại sản phẩm"
            })
            <button type="submit" class="search-button">Tìm Kiếm</button>
        </div>
    }
</section>
<hr />

@*Phần Sản Phẩm Nổi Bật*@
@Html.Partial("_PVFeatureProduct",Model)

@*Phẩn Sản Phẩm Mới*@
@Html.Partial("_PVNewProduct",Model)
