@model _24DH112135_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa Sản Phẩm</h2>
<h4 class="bg-danger"> Bạn có chắc chắn muốn xóa danh mục này không?</h4>

@Html.Partial("PartialView_DetailDelete", Model)

@using (Html.BeginForm("Delete", "Products", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductID)
    <dt style="padding:10px;"></dt>
    <dd style="padding:10px;">
        <input type="submit" value="Xóa" class="btn btn-danger" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-primary" })
    </dd>
}