@model _24DH112135_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Chi Tiết Sản Phẩm</h2>

@Html.Partial("PartialView_DetailDelete", Model)
<dt style="padding:10px;"></dt>
<dd style="padding:10px;">
    @Html.ActionLink("Cập Nhật", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-primary" })
</dd>

