@model IEnumerable<_24DH112135_MyStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh Sách Danh Mục</h2>


<table class="table col-lg-10 col-md-6 col-sm-3">
    <tr>
        <th class="bg-success col-lg-7 col-md-4 col-sm-2">
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên Danh Mục
        </th>
        <th class="bg-success col-lg-3 col-md-2 col-sm-1"></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Cập Nhật", "Edit", new { id=item.CategoryID } , new { @class = "btn btn-primary btn-sm" }) 
            @Html.ActionLink("Xóa", "Delete", new { id=item.CategoryID } , new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>