@*sẽ được truyền vào giữa trang Partial View và trang cha*@
@model _24DH112135_MyStore.Models.Category

@*Form con sẽ được nhúng vào form cha là Edit.cshmtl và Create.cshtml*@
<div class="form-group">
    @*@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="control-label col-md-10">Tên Danh Mục</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>

</div>
